*resharper.user
# Visual Studio
identity/build/
bin/
[Dd]ebug/
[Rr]elease/
*.sln.cache
*.suo
*.csproj.user
*.log

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/
*.user

bin/
obj/
packages/
*.suo
*.csproj.user
build/
TestResults/
docs/
*.mdf